In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('data\imdb_kaggle.csv')
df.head()

,rank,year,duration,age_limit,rating,numberof_ratings,Metascore,description,name
0,1,1994,2h 22m,15,9.3,(2.9M),82.0,"Over the course of several years, two convicts...",The Shawshank Redemption
1,2,1972,2h 55m,15,9.2,(2M),100.0,The aging patriarch of an organized crime dyna...,The Godfather
2,3,2008,2h 32m,12A,9.0,(2.9M),84.0,When the menace known as the Joker wreaks havo...,The Dark Knight
3,4,2003,3h 21m,12A,9.0,(2M),94.0,Gandalf and Aragorn lead the World of Men agai...,The Lord of the Rings: The Return of the King
4,5,1993,3h 15m,15,9.0,(1.5M),95.0,"In German-occupied Poland during World War II,...",Schindler's List

Sistema de recomendaciones basado en producto

Modelo TF-IDF Similitud Coseno

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Eliminar los espacios innecesarios
df['name'] = df['name'].str.strip()
# Combinar 'name' y 'description' para crear una representación de texto de cada película
df['content'] = df['name'] + " " + df['description']
# Crear el vectorizador TF-IDF
tfidf = TfidfVectorizer(stop_words='english')
# Ajustar y transformar los datos
tfidf_matrix = tfidf.fit_transform(df['content'])

# Calcular la similitud del Coseno 
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

Implementacion funcion para genarar la recomendacion

In [31]:
# Funcion desde la cual generamos la recomendacion, esto se puede mejorar muchisimo mas.
def get_recommendations(title, cosine_sim=cosine_sim):
    # Convertir a minúsculas
    title = title.lower()
    df['name_lower'] = df['name'].str.lower()
    # Verificar si el título existe
    if title not in df['name_lower'].values:
        return "La película no se encuentra en el DataFrame."
    
    idx = df.index[df['name_lower'] == title].tolist()[0]
    
    # Obtenemos las puntuaciones
    sim_scores = list(enumerate(cosine_sim[idx]))
    # Ordenamos los scores 
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Obtenemos los indices de los scores altos
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]

    # Retornamos los nombres de las peliculas
    return df['name'].iloc[movie_indices]

# Ejemplo de uso
print(get_recommendations('Brotherhood'))

929                               Evil
298              The Battle of Algiers
11                          Fight Club
539           The Manchurian Candidate
932                Joint Security Area
950                                300
112                            AmÃ©lie
208                       Rangasthalam
432                       Nobody Knows
18     One Flew Over the Cuckoo's Nest
Name: name, dtype: object